{% extends 'auth_base.html' %}
{% load static %}
{% load form_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'auth_actions/css/auth.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="auth-form">
  <h2 class="auth-heading">Password Change Successful</h2>
  <p class="auth-message">Your password has been changed successfully. You can now log in with your new password.</p>
  <a href="{% url 'auth_actions:login' %}" class="auth-button">Login</a>
</div>
{% endblock %}